<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spr.com.hallyu.admin.mapper.AdminUserMapper">
  <select id="findPasswordByUsername" parameterType="string" resultType="string">
    SELECT password FROM users WHERE user_id=#{username}
  </select>
  
  <!-- role 조건도 함께 걸고 싶으면 AND role='ADMIN' 추가 -->
 <!-- role 조건도 함께 걸고 싶으면 AND role='ADMIN' 추가 -->
  <select id="existsByUsername" parameterType="string" resultType="int">
    SELECT COUNT(*)
    FROM users
    WHERE user_id = #{username}
      AND role = 'ADMIN'
  </select>

  <!-- 로그인 인증 시 사용자 정보(비밀번호, 역할) 조회 -->
  <select id="findByUsernameForAuth" parameterType="string" resultType="map">
    SELECT user_id as username, password, role
    FROM users
    WHERE user_id = #{username}
  </select>

</mapper>
